<!-- Create your form here -->
<h3>Student Form</h3>
<%= form_tag students_path do %>
    <label>Student First_Name:</label><br>
    <%= text_field_tag :'first_name'%>

    <label>Student Last_Name:</label><br>
    <%= text_field_tag :'last_name'%> 

    <%= submit_tag "Submit Student" %>
<% end %> 
   